@using SmartFleet.Resources
<header class="main-header">
    <!-- Logo -->
    <a  class="logo">
       
        <span class="logo-lg"><b>Smart</b> Fleet</span>

    </a>
    
    <nav class="navbar navbar-static-top" role="navigation">

        <div class="navbar-custom-menu">
            <ul class="nav navbar-nav">
                <!-- Messages: style can be found in dropdown.less-->
                <li class="dropdown messages-menu">


                    <a title="Suivi" id="btn-auto" href="#"> <i class="fa fa-search fa-lg"></i></a>



                </li>
                
                <!-- Notifications: style can be found in dropdown.less -->
                <li class="dropdown notifications-menu">
                    <a title="@Resource.Report" id="btn-report" href="#"> <i class="fa fa-calendar "></i></a>

                </li>
                <!-- Tasks: style can be found in dropdown.less -->

                <li>
                    <a id="btn-settings" title="Configuration" href="#" data-toggle="control-sidebar"><i class="fa fa-gears fa-lg"></i></a>
                </li>

                <li class="dropdown tasks-menu">
                    <a href="#"><i class="fa fa-bell fa-lg"></i></a>

                </li>
                <li class="dropdown messages-menu">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                        <i class="fa fa-compass"></i>
                        <span>@Resource.Language</span>
                    </a>
                    <ul class="dropdown-menu">
                        <li>
                            <a href="@Url.Action("ChangeLanguage", "Language", new {language = "fr-FR"})">
                                <span class="flag-icon flag-icon-fr"></span>
                                <b>Fançais</b>
                            </a>
                            <a href="@Url.Action("ChangeLanguage", "Language", new {language = "en"})">
                                <span class="flag-icon flag-icon-gb"></span>
                                <b>English</b>
                            </a>
                            <a href="@Url.Action("ChangeLanguage", "Language", new {language = "es"})">
                                <span class="flag-icon flag-icon-es"></span>
                                <b>Spanish</b>
                            </a>
                        </li>
                    </ul>
                </li>
                <li class="dropdown tasks-menu">
                    <a href="@Url.Action("Logout", "Account")"><i class="fa fa-power-off fa-lg"></i></a>

                </li>
                <!-- User Account: style can be found in dropdown.less -->
                <!-- Control Sidebar Toggle Button -->

            </ul>
        </div>
    </nav>
    <!-- Header Navbar: style can be found in header.less -->
    
</header>

